//Reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//Estilo General
body {
    background-color: $colorBody;

    nav {
        background-color: $colorHeader;
    }

    footer {
        background-color: $colorFooter;
    }

}