/*Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilo General*/
body {
    background-color: $colorBody;

    header {
        background-color: $colorHeader;
    }

    footer {
        background-color: $colorFooter;
    }

}



/*Sección Contacto*/

/*Mapa*/
.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;

    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}